<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>RELATIVE URL</h1>

    <a href="{% url 'basic_app:other' %}">GRAB MY DICK</a>
    <br>
    <a href="{% url 'admin:index' %}">ADMIN BITCH</a>
    <br>
    <a href="{% url 'index' %}">FUCKING INDEX</a>
  </body>
</html>

<!-- First I create index.html, other.html and relatibe_url_templates.html
,to actually show these pages I must create the views, so
I go to the views.py file -->
